<h1>Editing account</h1>

<%= render "form", bx_block_accounts_account: @bx_block_accounts_account %>

<br>

<div>
  <%= link_to "Show this account", @bx_block_accounts_account %> |
  <%= link_to "Back to accounts", bx_block_accounts_accounts_path %>
</div>
