<h1>Editing post</h1>

<%= render "form", bx_block_posts_post: @bx_block_posts_post %>

<br>

<div>
  <%= link_to "Show this post", @bx_block_posts_post %> |
  <%= link_to "Back to posts", bx_block_posts_posts_path %>
</div>
